run = "npm start"
entrypoint = "server.js"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 3001
externalPort = 80
